<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animecatalogfinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimeCatalogFinal">
        <activity android:name=".View_anime"
            android:label="ANIME INFORMATION"></activity>
        <activity android:name=".Update_anime"
            android:label="UPDATE EXISTING ANIME"/>
        <activity android:name=".Add_Anime"
            android:label="ADD ANIME TITLE"/>
        <activity android:name=".MainActivity"
            android:label="ANIME CATALOG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>